.container {
  position: relative;
  text-align: center;
  color: white;
}
.title {
  position: absolute;
  bottom: 50px;
  left: 11%;
  font-size: 32px;
  color: #222;
  font-family: 'Abril Fatface', cursive;
}
.name {
  position: absolute;
  bottom: 8px;
  left: 11%;
  font-size: 42px;
  color: #222;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
}
.intro {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.beginning {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  list-style: square;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.boxforthequote {
  display: flex;
  justify-content: center;
}

blockquote {
  background-color: #222;
  font-family: 'Abril Fatface', cursive;
  color: white;
  width: 600px;
  text-align: left;
  font-size: 38px;
  padding-bottom: 50px;
  padding-left: 30px;
  position: relative;
}
  blockquote::before {
  content:'❝';
  display: block;
  top: 0;
  left: 0;
  color: white;
  font-size: 90px;
  padding-bottom:0;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: -50px;
}

h2 {
  text-transform: uppercase;
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 3px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
h4{
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-style: italic;
  color: #222;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
p {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.experience {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  list-style: square;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.line {
  border-bottom: 4px solid black;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}
#interests {
  margin-bottom: 50px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}